<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>
            "Alumnos"
        </title>
        <link rel="stylesheet"
        href="{{ url_for('static', filename='css/estilos.css') }}">
    </head>
    <body>
        <h1>lista de alumnos</h1>
        <ul>
            <li>Francisco</li>
            <li>Rosalia</li>
            <li>Paola</li>
            <li>Julio</li>
            <li>Moanserrat</li>
        </ul>
        <a href="/">volver a la pagina principal</a>
    </body>
</html>